name: Gradle CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  workflow_dispatch:

jobs:

  build:

    name: Gradle-Build
    
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v3.2.0
      
      - name: Setup Java JDK
        uses: actions/setup-java@v3.6.0
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1.0.5
        
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew buildPlugin
      
      - name: Build
        uses: actions/upload-artifact@v3.1.1
        with: 
          name: snapshot
          path: build/mirai/*.jar
          